{% extends "layout.html" %}

{% block title %}
  Book
{% endblock %}

{% block main %}
  <div class="">
    <h3>Database Results</h3>
    <ul>
      {% for key, val in book.items() %}
        <li>{{ key }}: {{ val }}</li>
      {% endfor %}
    </ul>
  </div>
  <br>
  <div class="">
    <h3>Goodreads API Results</h3>
    <ul>
      <li>Rating count: {{ book_json['work_ratings_count'] }}</li>
      <li>Average rating: {{ book_json['average_rating'] }}</li>
    </ul>
  </div>
  <br>
  <form class="" action="{{ url_for('search') }}" method="get">
    <input type="submit" value="Search for another book">
  </form>
{% endblock %}
