{% extends "layout.html" %}

{% block title %}
  Search
{% endblock %}

{% block main %}
  <form class="" action="/search" method="post">
    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input type="text" class="form-control" name="isbnQuery" value="" autofocus>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="titleQuery" value="">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" name="authorQuery" value="">
    </div>
    <button class="btn btn-primary my-3" type="submit">Search</button>
  </form>

  <div class="">
    <ul>
      {% for bookQueryResult in bookQueryResults %}
          <li>ISBN: {{ bookQueryResult['isbnResult'] }}</li>
          <li>Title: {{ bookQueryResult['titleResult'] }}</li>
          <li>Author: {{ bookQueryResult['authorResult'] }}</li>
        <!-- Button to redirect user to book page -->
        <!-- Passes isbn number as argument via POST request -->
        <form action="{{ url_for('book', isbn_num = bookQueryResult['isbnResult']) }}" method="post">
          <input type="submit" value="More info about the book">
         </form>
        <br>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
